<footer class="footer">
  <div class="footer-content">
    <div class="logo">
      <img
        src="{{ asset('images/logo.png') }}"
        alt="Logo Avengers"
        class="logo-img"
      />
    </div>
    <div class="social-links">
      <a href="https://www.facebook.com" class="social-link">
        <img
          src="{{ asset('images/facebook.png') }}"
          alt="facebook logo"
          class="logo-img"
        />
        The Avengers Arras
      </a>
      <a href="https://www.instagram.com" class="social-link">
        <img
          src="{{ asset('images/instagram.png') }}"
          alt="instagram logo"
          class="logo-img"
        />
        @Arravengers
      </a>
      <a href="https://www.linkedin.com" class="social-link">
        <img
          src="{{ asset('images/linkedin.png') }}"
          alt="Linkedin logo"
          class="logo-img"
        />
        The Avengers Arras
      </a>
    </div>
  </div>
  <div>
    <div class="flex items-end">
      <p class="quote">
        "Et maintenant, jusqu'à ce que nous nous revoyions, que les bénédictions
        d'Asgard vous soient accordées !" - Stan Lee
      </p>
      <p class="rights">Tous droits réservés, 2024 ©</p>
    </div>
  </div>
</footer>
<div class="bg-[#ee7203]">
  <p class="text-center">
    Projet réalisé dans le cadre de la formation CDA proposé par la SOFIP
  </p>
</div>
