<footer class="footer">
  <div class="footer-content">
    <div class="logo">
      <img
        src="{{ asset('images/logo.png') }}"
        alt="Logo Avengers"
        class="logo-img"
      />
    </div>
    <div class="social-links">
      <a href="https://www.facebook.com" class="social-link">
        <img
          src="{{ asset('images/facebook.png') }}"
          alt="facebook logo"
          class="logo-img"
        />
        The Avengers Arras
      </a>
      <a href="https://www.instagram.com" class="social-link">
        <img
          src="{{ asset('images/instagram.png') }}"
          alt="instagram logo"
          class="logo-img"
        />
        @Arravengers
      </a>
      <a href="https://www.linkedin.com" class="social-link">
        <img
          src="{{ asset('images/linkedin.png') }}"
          alt="Linkedin logo"
          class="logo-img"
        />
        The Avengers Arras
      </a>
    </div>
  </div>
  <div class="footer-content">
    <div class="quote">
      "Et maintenant, jusqu'à ce que nous nous revoyions, que les bénédictions
      d'Asgard vous soient accordées !" - Stan Lee
    </div>
    <div class="rights">Tous droits réservés, 2024 ©</div>
  </div>
</footer>
