<footer class="footer">
  <div class="footer-content">
    <div id="logo-footer">
      <img src="{{ asset('/images/logo.png') }}" alt="Logo" />
    </div>
    <div class="social-links">
      <a href="https://www.facebook.com" class="social-link">
        <img src="{{ asset('/images/facebook.png') }}" alt="Facebook" />
        The Avengers Arras
      </a>
      <a href="https://www.instagram.com" class="social-link">
        <img src="{{ asset('/images/instagram.png') }}" alt="Instagram" />
        @Arravengers
      </a>
      <a href="https://www.linkedin.com" class="social-link">
        <img src="{{ asset('/images/linkedin.png') }}" alt="LinkedIn" />
        The Avengers Arras
      </a>
    </div>
  </div>
  <div class="quote">
    "Et maintenant, jusqu'à ce que nous nous revoyions, que les bénédictions
    d'Asgard vous soient accordées !" - Stan Lee
  </div>
  <div class="rights">Tous droits réservés, 2024 ©</div>
</footer>
