{% extends "base.html.twig" %}

{% block title %} Accueil {% endblock %}

{% block body %}

<fieldset class="headerfield">
<h1 class="sousheader"> "Welcome to the MCU." - Deadpool </h1>
</fieldset>

<fieldset class="carousel">
<h1>Il faut faire le carousel ici</h1>
<br>
</fieldset>

<br>

    <div class="container">
        <div class="text-box">
            <p><strong>Enfin sur Arras !</strong></p>
            <p>Le complexe de loisirs "The Avengers" s’installe EN-FIN sur Arras !</p>
        </div>
        <div class="coming-soon">
            <div class="circle">
                <p>Coming<br>Soon</p>
            </div>
        </div>
    </div>

{% endblock %}